@tailwind base;
@tailwind components;
@tailwind utilities;

.header-ul li{
@apply px-3;

}
.bg-secondary{
     background: #2b2d77;
}

.bg-primary{
    background: rgb(85, 81, 227);
}

.mobile-nav{
   @apply fixed top-10 bg-gray-800 w-full h-1/3 left-0;
}

.mobile-nav li {

   @apply w-full h-full text-center border-b-2 ;
}

.project-description{

   @apply absolute left-0 right-0 bottom-0 top-0 bg-secondary opacity-0 duration-500 hover:opacity-100 ;
}

.btn {

   @apply bg-primary px-5 py-2 font-bold hover:border-2 border-white rounded ;
}
.btn-border{

   @apply border border-white hover:border-yellow-400 bg-primary text-white text-sm px-4 py-2 rounded mt-2 inline-block md:text-base md:px-6 md:py-2.5 transition-colors duration-200;
}
html{

   scroll-behavior: smooth;
}